body{
    background-image: url("Can\ You\ Feel\ The\ Love\ Tonight.jpg");
background-color:#77a6f7;
font-family: montserrat;
    }
   
   h1{
       color:white;
       font-size: 64px;
       letter-spacing: 2px;
       margin-top: 80px;
       text-align: center;
       font-family: montserrat;
       font-weight: bold;
       text-shadow: 0 0 5px white;
   }
   
   
   .content{
       background:transparent;
       max-width: 960px;
       margin: 30px auto;
       padding:  0;
       border-radius: 0px 0px 0px 0px;
       position: center;
   }
   
   
   ul{
       list-style-type: none;
       padding: 0;
       background-color:transparent;
       max-width: 960px;
       margin: 30px auto;
       border-radius: 0px 0px 0px 0px;
       box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
       position: center;
       font-family: montserrat;
       
   }
   
   li{
    padding: 15px;
    background: #f6f6f6;
    font-size: 24px;
    color:black;
    position: relative;
    border-radius: 15px 15px 15px 15px;
    border-bottom: 1px solid inherit;
    height: 46px;
    align-content: center;
    height: 2vw;
    overflow-wrap:break-word ;
   }
   li:nth-child(even){
       padding: 20px;
       background: #f2f2f2;
   }
   
   li span{
       display: block;
   }
   
   li span:nth-child(2){
       font-size: 16px;
       margin-top: 6px;
       color:black;
   }
   
   li div{
       position: absolute;
       top: 0;
       right: 0px;
       background: rgba(255,255,255,0.6);
       width: 40px;
       text-align: center;
       padding: 10px 0px;
       font-weight:  bold;
       cursor:  pointer;
       border-radius: 15px;
   }
   
   form input{
       float: left;
       width: 38%;
       margin: 0;
       border: 0;
       border-bottom: 1px solid #eee;
       margin: 0 1%;
       padding: 10px;
       display: block;
       box-sizing: border-box;
       font-size: 18px;
   }
   
   form input:focus{
       outline: none;
       border-bottom: 3px solid #88236f;
       padding-bottom: 8px;
       transition: all ease 0.2s;
   }
   
   form:after{
       content: '';
       clear: both;
       display: block;
   }
   
   button{
    cursor:pointer;
    background:transparent;
    border: 0;
    padding: 0;
    width: 0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1px;
    color:inherit;
}

   .test{
    background:transparent;
    border-bottom:1px solid black;
   }

   @media screen and (max-width:1024px){
    li{
        padding: 15px;
        background: #f6f6f6;
        font-size: 24px;
        color:black;
        position: relative;
        border-radius: 15px 15px 15px 15px;
        border-bottom: 1px solid inherit;
        height: 46px;
        align-content: center;
        height: 3.8vh;
        overflow-wrap:break-word ;
        
    }
    
    
}

::placeholder{
    color: black;
    opacity: 5;
}


@media screen and (max-width:1366px){
    li{
        padding: 15px;
        background: #f6f6f6;
        font-size: 24px;
        color:black;
        position: relative;
        border-radius: 15px 15px 15px 15px;
        border-bottom: 1px solid inherit;
        height: 46px;
        align-content: center;
        height: 5vh;
        overflow-wrap:break-word ;
        
    }
}